*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*a:link, a:visited, a:active {
    text-decoration:none;
}*/
.titulo{
    margin: auto;
    padding: auto;
    text-align: center;
}
.pie{
    margin: auto;
    padding: auto;
    text-align: center;
    margin-top: 20px;
}
.grupobotones{
    padding: 20px;
    margin: 20px;
    border-style: dotted;
    border-color: #036638;
    border-radius: 20px;
}
.botones{
    margin: auto;
    font-size: 20px;
    width: 180px;
    margin-bottom: 5px;
    background-color: #036638;
    color: #fff;
}
.subtitulos{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.salir{
    background-color: #d30f0f;
}
a{
    color: #fff;
    text-decoration:none;
}
.adm{
    background-color: #0993bd;
}
